.container {
    display: inline-flex;
}
.profile-image {
    border-radius: 50%;
    width: 20%;
    margin: 5vh;
}
.about-container {
    margin: 7vh 5vh 3vh 3vh;
}
.header {
    font-size: 40px;
}
.content {
    font-size: 30px;
}