.contact-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .contact-header {
    font-size: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.contact-content {
    font-size: 30px;
    margin-bottom: 2vh;
    font-weight: normal;
} 
.icon-container i {
    color: black;
    font-size: 52px;
}