.tech-container {
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
    width: 100%;
    position: relative;
}
i {
    font-size: 180px;
    margin-bottom: 2vh;
}
.section-header {
    margin: 1vh;
    font-size: 40px;
}
li {
    display: inline-block; 
    margin: 2vh 4vh 2vh 4vh;
}
p {
    margin-top: 1vh;
    font-size: 24px;
}